{% extends "view.twig" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
{% endblock %}

{% block title %}All the pokemons{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="col-3-4" id="pokedex">
    <div class="col-1-1">
        <div class="col-1-2 pokedexHeader"></div>
        <div class="col-1-2"></div>
    </div>
    <div class="col-1-1">
        <div class="sidebar col-1-2">
            <div class="col-1-1 innerSidebar">
                <ul class="pokelist">
                    {% for info in pokemons %}
                    {% if info.pokeId < 100 %}
                    {% if info.pokeId < 10 %}
                    {% set pokeId="#00#{info.pokeId}"%}
                    {% else %}
                    {% set pokeId="#0#{info.pokeId}"%}
                    {% endif %}
                    {% else %}
                    {% set pokeId="##{info.pokeId}"%}
                    {% endif %}
                    <li value={{ info.pokeId }}>
                        <a class="find">{{ pokeId }} {{ info.name|capitalize }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="main col-1-2">
            <div class="col-1-1 innerTitle">
                <p>
                    <span class="pokenum"></span>
                    <span class="name"></span>
                </p>
            </div>
            <div class="col-1-2 innerSprite">
                <span class="sprite"></span>
            </div>
            <div class="col-1-2 innerDesc">
                <p>Height: <span class="height"></span></p>
                <p>Weight: <span class="weight"></span></p>
                <p>Description: /</p>
                <span class="description"></span>
                <div class="col-1-2">
                    <p>Typing:</p>
                </div>
                <div class="col-1-2 typesDiv">
                    <span class="types"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-1-4" id="signIn">
        <a class="nes-btn" href="/">Sign in!</a>
</div>
{% endblock %}

{% block footer %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src="../assets/js/pokedexJS.js"></script>
{% endblock %}