{% extends "view.twig" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
{% endblock %}

{% block title %}{{ trainerInfo.name|capitalize }}'s Pokedex{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="col-3-4" id="pokedex">
    <div class="col-1-1">
        <div class="col-1-2 pokedexHeader"></div>
        <div class="col-1-2"></div>
    </div>
    <div class="col-1-1">
        <div class="sidebar col-1-2">
            <div class="col-1-1 innerSidebar">
                <ul class="pokelist">
                    {% set index = 0 %}
                    {% for info in trainerPokemons %}
                    {% if info.pokeId < 100 %}
                    {% if info.pokeId < 10 %}
                    {% set pokeId="#00#{info.pokeId}"%}
                    {% else %}
                    {% set pokeId="#0#{info.pokeId}"%}
                    {% endif %}
                    {% else %}
                    {% set pokeId="##{info.pokeId}"%}
                    {% endif %}
                    <li value={{ index }}>
                        <a class="find">{{ pokeId }} {{ info.name|capitalize }}</a>
                    </li>
                    {% set index = index + 1 %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="main col-1-2">
            <div class="col-1-1 innerTitle">
                <p>
                    <span class="pokenum"></span>
                    <span class="name"></span>
                </p>
            </div>
            <div class="col-1-2 innerSprite">
                <span class="sprite"></span>
            </div>
            <div class="col-1-2 innerDesc">
                <p>Height: <span class="height"></span></p>
                <p>Weight: <span class="weight"></span></p>
                <p>Description: /</p>
                <span class="description"></span>
                <div class="col-1-2">
                    <p>Typing:</p>
                </div>
                <div class="col-1-2 typesDiv">
                    <span class="types"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-1-4" id="trainerPokedexButtons">
    <section>
        <button type="button" class="nes-btn" id="addPokemon">
            Add a Pokemon!
        </button>
        <dialog class="nes-dialog is-rounded" id="addPokemonDialog">
            <form method="POST" action="" id="addPokemonForm">
                <p class="title">What Pokemon have you met?</p>
                <div class="nes-select">
                    <select required id="default_select" name="pokeId">
                        <option value="" disabled selected hidden>Select...</option>
                        {% for poke in pokemons %}
                        {% if poke.pokeId < 100 %}
                        {% if poke.pokeId < 10 %}
                        {% set pokeId="#00#{poke.pokeId}"%}
                        {% else %}
                        {% set pokeId="#0#{poke.pokeId}"%}
                        {% endif %}
                        {% else %}
                        {% set pokeId="##{poke.pokeId}"%}
                        {% endif %}
                        <option value={{ poke.pokeId }}>{{ pokeId }} {{ poke.name|capitalize }}</option>
                        {% endfor %}
                    </select>
                    <input type="hidden" name="trainerId" value={{ trainerInfo.trainerId }} />
                </div>
                <menu class="dialog-menu">
                    <button class="nes-btn" id="cancelButton" value="cancel">Cancel</button>
                    <input type="submit" value="Confirm" id ="submit" class="nes-btn" />
                </menu>
            </form>
        </dialog>
    </section>
    <a class="nes-btn" href="/">
        <p>Sign off</p>
        <p>(and go catch 'em all)</p>
    </a>
    <dialog class="nes-dialog is-rounded" id="pokemonPresenceDialog">
        <p>You have already met this Pokemon!</p>
        <button class="nes-btn" id="OKButton" value="cancel">Ok</button>
    </dialog>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/dialog-polyfill.js"></script>
    <script>
    //Gestion des boîtes de dialogues pour Firefox
    const dialogs = document.querySelectorAll('dialog');
    Array.from(dialogs).map((d) => {  dialogPolyfill.registerDialog(d);})
	</script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/dialog-polyfill.js"></script>
	<script>
    var presenceDialog = document.querySelector('presenceDialog');
    dialogPolyfill.registerDialog(presenceDialog);
    </script>
</div>
{% endblock %}

{% block footer %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src="../assets/js/pokedexTrainerJS.js"></script>
<script src="../assets/js/addPokemon.js"></script>
{% endblock %}
