{% extends "view.twig" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
{% endblock %}

{% block title %}Sign In{% endblock %}

{% block header %}
<div class="nes-container is-rounded is-dark col-1-1" id="indexHeader">
    <div class="col-1-2">
        <h1><img src="../assets/img/computer.png" alt="computer" /> Pokedex Manager</h1>
    </div>
    <div class="col-1-2">
        <div class="col-1-2"></div>
        <div class="col-1-2">
            <a class="nes-btn" id="headerButton" href="pokedex">Discover all the pokemons!</a>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="nes-container with-title col-1-1">
    <p class="title">Sign in</p>
    <div class="col-1-2">
        <div class="nes-container is-rounded" id="welcomeContainer">
            <p>Please sign in.</p>
            <p>And remember, gotta catch 'em all!</p>
        </div>
    </div>

    <div class="col-1-2">
        <form method="POST" action="" id="signInForm">
            <div class="nes-field" id="nameField">
                <label for="name_field">Your name</label>
                <input type="text" id="name_field" name="name_field" class="nes-input">
            </div>
            <div id="trainerGenre">
                <label>
                    <input type="radio" class="nes-radio" name="gender" value=0 checked />
                    <span><img src="../assets/img/girl.png" alt="girlTrainer"></span>
                </label>
                <label>
                    <input type="radio" class="nes-radio" name="gender" value=1 />
                    <span><img src="../assets/img/boy.png" alt="boyTrainer"></span>
                </label>
            </div>
            <input type="submit" class="nes-btn" id="signInButton" value="Sign in" />
        </form>
    </div>
</div>
<dialog class="nes-dialog is-rounded" id="newTrainerDialog">
    <p>You don't seem to be registered yet.</p>
    <p>We are going to create your Pokedex!</p>
    <menu class="dialog-menu">
        <button class="nes-btn" id="cancelButton" value="cancel">Cancel</button>
        <button class="nes-btn" value="ok" id="validateButton">Ok</button>
    </menu>
</dialog>

<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/dialog-polyfill.js"></script>
<script>
//Gestion des boîtes de dialogues pour Firefox
var dialog = document.querySelector('dialog');
dialogPolyfill.registerDialog(dialog);
</script>
{% endblock %}

{% block footer %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src="../assets/js/signInJS.js"></script>
{% endblock %}
