<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../assets/css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="../assets/css/simplegrid.css"/>
    <link rel="icon" href="../assets/img/pokeballIcon.ico"/>
    <link rel="stylesheet" type="text/css" href="../assets/css/nes.css"/>
    {% block css %}{% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <title>Pokedex - {% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        {% block header %}
        {% endblock %}
    </header>

    <main class="grid grid-pad">
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        {% block footer %}
        {% endblock %}
    </footer>
</body>
</html>