{% extends "view.twig" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="../assets/css/404style.css" />
{% endblock %}

{% block title %}404{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<p>404 error - Pokemons not found</p>
<div id="pikachu"></div>
<div id="ash"></div>
<div id="errorButton">
    <a class="nes-btn" id="errorLink" href="/">
        <p>Gotta catch 'em all!</p>
        <p>(back to homepage)</p>
    </a>
</div>
{% endblock %}

{% block footer %}
{% endblock %}