/* SOURCE : https://codepen.io/kevinjannis/pen/GyCgn */

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#errorButton {
    margin-top : 20px;
    font-size : 13px;
}

#errorLink:hover {
    text-decoration: none;
    color : #212529;
}

body {
    padding: 50px;
    text-align: center;
}

#ash, #pikachu {
    position: relative;
    display: inline-block;
    margin: 0 10px;
    overflow: hidden;
}

#ash:before, #ash:after, #pikachu:before, #pikachu:after {
    content: " ";
    position: absolute;
    width: 4px;
    height: 4px;
    top: 0;
    left: 0;
}

#ash:before, #pikachu:before {
    margin-left: 120px;
}

#ash {
    width: 52px;
    height: 64px;
}

#ash:before {
    -moz-box-shadow: 12px 4px 0 0 #181818, 16px 4px 0 0 #181818, 20px 4px 0 0 #181818, 24px 4px 0 0 #181818, 28px 4px 0 0 #181818, 32px 4px 0 0 #181818, 8px 8px 0 0 #181818, 12px 8px 0 0 #cdcdcd, 16px 8px 0 0 #cdcdcd, 20px 8px 0 0 #cdcdcd, 24px 8px 0 0 #cdcdcd, 28px 8px 0 0 #cdcdcd, 32px 8px 0 0 #cdcdcd, 36px 8px 0 0 #181818, 4px 12px 0 0 #181818, 8px 12px 0 0 #cdcdcd, 12px 12px 0 0 #cdcdcd, 16px 12px 0 0 #cdcdcd, 20px 12px 0 0 #cdcdcd, 24px 12px 0 0 #cdcdcd, 28px 12px 0 0 #cdcdcd, 32px 12px 0 0 #cdcdcd, 36px 12px 0 0 #cdcdcd, 40px 12px 0 0 #181818, 4px 16px 0 0 #181818, 8px 16px 0 0 #cdcdcd, 12px 16px 0 0 #cdcdcd, 16px 16px 0 0 #cdcdcd, 20px 16px 0 0 #cdcdcd, 24px 16px 0 0 #cdcdcd, 28px 16px 0 0 #cdcdcd, 32px 16px 0 0 #cdcdcd, 36px 16px 0 0 #f9f9f9, 40px 16px 0 0 #181818, 44px 16px 0 0 #181818, 0 20px 0 0 #181818, 4px 20px 0 0 #181818, 8px 20px 0 0 #181818, 12px 20px 0 0 #cdcdcd, 16px 20px 0 0 #cdcdcd, 20px 20px 0 0 #cdcdcd, 24px 20px 0 0 #cdcdcd, 28px 20px 0 0 #cdcdcd, 32px 20px 0 0 #f9f9f9, 36px 20px 0 0 #f9f9f9, 40px 20px 0 0 #f9f9f9, 44px 20px 0 0 #f9f9f9, 48px 20px 0 0 #181818, 0 24px 0 0 #181818, 4px 24px 0 0 #181818, 8px 24px 0 0 #181818, 12px 24px 0 0 #181818, 16px 24px 0 0 #181818, 20px 24px 0 0 #181818, 24px 24px 0 0 #181818, 28px 24px 0 0 #cdcdcd, 32px 24px 0 0 #cdcdcd, 36px 24px 0 0 #cdcdcd, 40px 24px 0 0 #181818, 44px 24px 0 0 #181818, 0 28px 0 0 #181818, 4px 28px 0 0 #181818, 8px 28px 0 0 #181818, 12px 28px 0 0 #181818, 16px 28px 0 0 #181818, 20px 28px 0 0 #181818, 24px 28px 0 0 #fdfdfd, 28px 28px 0 0 #fdfdfd, 32px 28px 0 0 #181818, 36px 28px 0 0 #fdfdfd, 40px 28px 0 0 #181818, 4px 32px 0 0 #181818, 8px 32px 0 0 #181818, 12px 32px 0 0 #fdfdfd, 16px 32px 0 0 #fdfdfd, 20px 32px 0 0 #181818, 24px 32px 0 0 #fdfdfd, 28px 32px 0 0 #fdfdfd, 32px 32px 0 0 #181818, 36px 32px 0 0 #fdfdfd, 40px 32px 0 0 #181818, 8px 36px 0 0 #181818, 12px 36px 0 0 #fdfdfd, 16px 36px 0 0 #fdfdfd, 20px 36px 0 0 #fdfdfd, 24px 36px 0 0 #fdfdfd, 28px 36px 0 0 #fdfdfd, 32px 36px 0 0 #fdfdfd, 36px 36px 0 0 #fdfdfd, 40px 36px 0 0 #181818, 4px 40px 0 0 #181818, 8px 40px 0 0 #cdcdcd, 12px 40px 0 0 #181818, 16px 40px 0 0 #181818, 20px 40px 0 0 #fdfdfd, 24px 40px 0 0 #fdfdfd, 28px 40px 0 0 #fdfdfd, 32px 40px 0 0 #cdcdcd, 36px 40px 0 0 #181818, 4px 44px 0 0 #181818, 8px 44px 0 0 #cdcdcd, 12px 44px 0 0 #181818, 16px 44px 0 0 #181818, 20px 44px 0 0 #181818, 24px 44px 0 0 #181818, 28px 44px 0 0 #181818, 32px 44px 0 0 #181818, 4px 48px 0 0 #181818, 8px 48px 0 0 #181818, 12px 48px 0 0 #fdfdfd, 16px 48px 0 0 #fdfdfd, 20px 48px 0 0 #181818, 24px 48px 0 0 #181818, 28px 48px 0 0 #181818, 32px 48px 0 0 #181818, 36px 48px 0 0 #181818, 40px 48px 0 0 #181818, 0 52px 0 0 #181818, 4px 52px 0 0 #cdcdcd, 8px 52px 0 0 #181818, 12px 52px 0 0 #fdfdfd, 16px 52px 0 0 #fdfdfd, 20px 52px 0 0 #181818, 24px 52px 0 0 #cdcdcd, 28px 52px 0 0 #cdcdcd, 32px 52px 0 0 #181818, 36px 52px 0 0 #cdcdcd, 40px 52px 0 0 #cdcdcd, 44px 52px 0 0 #181818, 0 56px 0 0 #181818, 4px 56px 0 0 #cdcdcd, 8px 56px 0 0 #cdcdcd, 12px 56px 0 0 #181818, 16px 56px 0 0 #181818, 20px 56px 0 0 #181818, 24px 56px 0 0 #181818, 28px 56px 0 0 #181818, 32px 56px 0 0 #cdcdcd, 36px 56px 0 0 #cdcdcd, 40px 56px 0 0 #181818, 4px 60px 0 0 #181818, 8px 60px 0 0 #181818, 28px 60px 0 0 #181818, 32px 60px 0 0 #181818, 36px 60px 0 0 #181818;
    -webkit-box-shadow: 12px 4px 0 0 #181818, 16px 4px 0 0 #181818, 20px 4px 0 0 #181818, 24px 4px 0 0 #181818, 28px 4px 0 0 #181818, 32px 4px 0 0 #181818, 8px 8px 0 0 #181818, 12px 8px 0 0 #cdcdcd, 16px 8px 0 0 #cdcdcd, 20px 8px 0 0 #cdcdcd, 24px 8px 0 0 #cdcdcd, 28px 8px 0 0 #cdcdcd, 32px 8px 0 0 #cdcdcd, 36px 8px 0 0 #181818, 4px 12px 0 0 #181818, 8px 12px 0 0 #cdcdcd, 12px 12px 0 0 #cdcdcd, 16px 12px 0 0 #cdcdcd, 20px 12px 0 0 #cdcdcd, 24px 12px 0 0 #cdcdcd, 28px 12px 0 0 #cdcdcd, 32px 12px 0 0 #cdcdcd, 36px 12px 0 0 #cdcdcd, 40px 12px 0 0 #181818, 4px 16px 0 0 #181818, 8px 16px 0 0 #cdcdcd, 12px 16px 0 0 #cdcdcd, 16px 16px 0 0 #cdcdcd, 20px 16px 0 0 #cdcdcd, 24px 16px 0 0 #cdcdcd, 28px 16px 0 0 #cdcdcd, 32px 16px 0 0 #cdcdcd, 36px 16px 0 0 #f9f9f9, 40px 16px 0 0 #181818, 44px 16px 0 0 #181818, 0 20px 0 0 #181818, 4px 20px 0 0 #181818, 8px 20px 0 0 #181818, 12px 20px 0 0 #cdcdcd, 16px 20px 0 0 #cdcdcd, 20px 20px 0 0 #cdcdcd, 24px 20px 0 0 #cdcdcd, 28px 20px 0 0 #cdcdcd, 32px 20px 0 0 #f9f9f9, 36px 20px 0 0 #f9f9f9, 40px 20px 0 0 #f9f9f9, 44px 20px 0 0 #f9f9f9, 48px 20px 0 0 #181818, 0 24px 0 0 #181818, 4px 24px 0 0 #181818, 8px 24px 0 0 #181818, 12px 24px 0 0 #181818, 16px 24px 0 0 #181818, 20px 24px 0 0 #181818, 24px 24px 0 0 #181818, 28px 24px 0 0 #cdcdcd, 32px 24px 0 0 #cdcdcd, 36px 24px 0 0 #cdcdcd, 40px 24px 0 0 #181818, 44px 24px 0 0 #181818, 0 28px 0 0 #181818, 4px 28px 0 0 #181818, 8px 28px 0 0 #181818, 12px 28px 0 0 #181818, 16px 28px 0 0 #181818, 20px 28px 0 0 #181818, 24px 28px 0 0 #fdfdfd, 28px 28px 0 0 #fdfdfd, 32px 28px 0 0 #181818, 36px 28px 0 0 #fdfdfd, 40px 28px 0 0 #181818, 4px 32px 0 0 #181818, 8px 32px 0 0 #181818, 12px 32px 0 0 #fdfdfd, 16px 32px 0 0 #fdfdfd, 20px 32px 0 0 #181818, 24px 32px 0 0 #fdfdfd, 28px 32px 0 0 #fdfdfd, 32px 32px 0 0 #181818, 36px 32px 0 0 #fdfdfd, 40px 32px 0 0 #181818, 8px 36px 0 0 #181818, 12px 36px 0 0 #fdfdfd, 16px 36px 0 0 #fdfdfd, 20px 36px 0 0 #fdfdfd, 24px 36px 0 0 #fdfdfd, 28px 36px 0 0 #fdfdfd, 32px 36px 0 0 #fdfdfd, 36px 36px 0 0 #fdfdfd, 40px 36px 0 0 #181818, 4px 40px 0 0 #181818, 8px 40px 0 0 #cdcdcd, 12px 40px 0 0 #181818, 16px 40px 0 0 #181818, 20px 40px 0 0 #fdfdfd, 24px 40px 0 0 #fdfdfd, 28px 40px 0 0 #fdfdfd, 32px 40px 0 0 #cdcdcd, 36px 40px 0 0 #181818, 4px 44px 0 0 #181818, 8px 44px 0 0 #cdcdcd, 12px 44px 0 0 #181818, 16px 44px 0 0 #181818, 20px 44px 0 0 #181818, 24px 44px 0 0 #181818, 28px 44px 0 0 #181818, 32px 44px 0 0 #181818, 4px 48px 0 0 #181818, 8px 48px 0 0 #181818, 12px 48px 0 0 #fdfdfd, 16px 48px 0 0 #fdfdfd, 20px 48px 0 0 #181818, 24px 48px 0 0 #181818, 28px 48px 0 0 #181818, 32px 48px 0 0 #181818, 36px 48px 0 0 #181818, 40px 48px 0 0 #181818, 0 52px 0 0 #181818, 4px 52px 0 0 #cdcdcd, 8px 52px 0 0 #181818, 12px 52px 0 0 #fdfdfd, 16px 52px 0 0 #fdfdfd, 20px 52px 0 0 #181818, 24px 52px 0 0 #cdcdcd, 28px 52px 0 0 #cdcdcd, 32px 52px 0 0 #181818, 36px 52px 0 0 #cdcdcd, 40px 52px 0 0 #cdcdcd, 44px 52px 0 0 #181818, 0 56px 0 0 #181818, 4px 56px 0 0 #cdcdcd, 8px 56px 0 0 #cdcdcd, 12px 56px 0 0 #181818, 16px 56px 0 0 #181818, 20px 56px 0 0 #181818, 24px 56px 0 0 #181818, 28px 56px 0 0 #181818, 32px 56px 0 0 #cdcdcd, 36px 56px 0 0 #cdcdcd, 40px 56px 0 0 #181818, 4px 60px 0 0 #181818, 8px 60px 0 0 #181818, 28px 60px 0 0 #181818, 32px 60px 0 0 #181818, 36px 60px 0 0 #181818;
    box-shadow: 12px 4px 0 0 #181818, 16px 4px 0 0 #181818, 20px 4px 0 0 #181818, 24px 4px 0 0 #181818, 28px 4px 0 0 #181818, 32px 4px 0 0 #181818, 8px 8px 0 0 #181818, 12px 8px 0 0 #cdcdcd, 16px 8px 0 0 #cdcdcd, 20px 8px 0 0 #cdcdcd, 24px 8px 0 0 #cdcdcd, 28px 8px 0 0 #cdcdcd, 32px 8px 0 0 #cdcdcd, 36px 8px 0 0 #181818, 4px 12px 0 0 #181818, 8px 12px 0 0 #cdcdcd, 12px 12px 0 0 #cdcdcd, 16px 12px 0 0 #cdcdcd, 20px 12px 0 0 #cdcdcd, 24px 12px 0 0 #cdcdcd, 28px 12px 0 0 #cdcdcd, 32px 12px 0 0 #cdcdcd, 36px 12px 0 0 #cdcdcd, 40px 12px 0 0 #181818, 4px 16px 0 0 #181818, 8px 16px 0 0 #cdcdcd, 12px 16px 0 0 #cdcdcd, 16px 16px 0 0 #cdcdcd, 20px 16px 0 0 #cdcdcd, 24px 16px 0 0 #cdcdcd, 28px 16px 0 0 #cdcdcd, 32px 16px 0 0 #cdcdcd, 36px 16px 0 0 #f9f9f9, 40px 16px 0 0 #181818, 44px 16px 0 0 #181818, 0 20px 0 0 #181818, 4px 20px 0 0 #181818, 8px 20px 0 0 #181818, 12px 20px 0 0 #cdcdcd, 16px 20px 0 0 #cdcdcd, 20px 20px 0 0 #cdcdcd, 24px 20px 0 0 #cdcdcd, 28px 20px 0 0 #cdcdcd, 32px 20px 0 0 #f9f9f9, 36px 20px 0 0 #f9f9f9, 40px 20px 0 0 #f9f9f9, 44px 20px 0 0 #f9f9f9, 48px 20px 0 0 #181818, 0 24px 0 0 #181818, 4px 24px 0 0 #181818, 8px 24px 0 0 #181818, 12px 24px 0 0 #181818, 16px 24px 0 0 #181818, 20px 24px 0 0 #181818, 24px 24px 0 0 #181818, 28px 24px 0 0 #cdcdcd, 32px 24px 0 0 #cdcdcd, 36px 24px 0 0 #cdcdcd, 40px 24px 0 0 #181818, 44px 24px 0 0 #181818, 0 28px 0 0 #181818, 4px 28px 0 0 #181818, 8px 28px 0 0 #181818, 12px 28px 0 0 #181818, 16px 28px 0 0 #181818, 20px 28px 0 0 #181818, 24px 28px 0 0 #fdfdfd, 28px 28px 0 0 #fdfdfd, 32px 28px 0 0 #181818, 36px 28px 0 0 #fdfdfd, 40px 28px 0 0 #181818, 4px 32px 0 0 #181818, 8px 32px 0 0 #181818, 12px 32px 0 0 #fdfdfd, 16px 32px 0 0 #fdfdfd, 20px 32px 0 0 #181818, 24px 32px 0 0 #fdfdfd, 28px 32px 0 0 #fdfdfd, 32px 32px 0 0 #181818, 36px 32px 0 0 #fdfdfd, 40px 32px 0 0 #181818, 8px 36px 0 0 #181818, 12px 36px 0 0 #fdfdfd, 16px 36px 0 0 #fdfdfd, 20px 36px 0 0 #fdfdfd, 24px 36px 0 0 #fdfdfd, 28px 36px 0 0 #fdfdfd, 32px 36px 0 0 #fdfdfd, 36px 36px 0 0 #fdfdfd, 40px 36px 0 0 #181818, 4px 40px 0 0 #181818, 8px 40px 0 0 #cdcdcd, 12px 40px 0 0 #181818, 16px 40px 0 0 #181818, 20px 40px 0 0 #fdfdfd, 24px 40px 0 0 #fdfdfd, 28px 40px 0 0 #fdfdfd, 32px 40px 0 0 #cdcdcd, 36px 40px 0 0 #181818, 4px 44px 0 0 #181818, 8px 44px 0 0 #cdcdcd, 12px 44px 0 0 #181818, 16px 44px 0 0 #181818, 20px 44px 0 0 #181818, 24px 44px 0 0 #181818, 28px 44px 0 0 #181818, 32px 44px 0 0 #181818, 4px 48px 0 0 #181818, 8px 48px 0 0 #181818, 12px 48px 0 0 #fdfdfd, 16px 48px 0 0 #fdfdfd, 20px 48px 0 0 #181818, 24px 48px 0 0 #181818, 28px 48px 0 0 #181818, 32px 48px 0 0 #181818, 36px 48px 0 0 #181818, 40px 48px 0 0 #181818, 0 52px 0 0 #181818, 4px 52px 0 0 #cdcdcd, 8px 52px 0 0 #181818, 12px 52px 0 0 #fdfdfd, 16px 52px 0 0 #fdfdfd, 20px 52px 0 0 #181818, 24px 52px 0 0 #cdcdcd, 28px 52px 0 0 #cdcdcd, 32px 52px 0 0 #181818, 36px 52px 0 0 #cdcdcd, 40px 52px 0 0 #cdcdcd, 44px 52px 0 0 #181818, 0 56px 0 0 #181818, 4px 56px 0 0 #cdcdcd, 8px 56px 0 0 #cdcdcd, 12px 56px 0 0 #181818, 16px 56px 0 0 #181818, 20px 56px 0 0 #181818, 24px 56px 0 0 #181818, 28px 56px 0 0 #181818, 32px 56px 0 0 #cdcdcd, 36px 56px 0 0 #cdcdcd, 40px 56px 0 0 #181818, 4px 60px 0 0 #181818, 8px 60px 0 0 #181818, 28px 60px 0 0 #181818, 32px 60px 0 0 #181818, 36px 60px 0 0 #181818;
}

#ash:after {
    -moz-box-shadow: 12px 0 0 0 #181818, 16px 0 0 0 #181818, 20px 0 0 0 #181818, 24px 0 0 0 #181818, 28px 0 0 0 #181818, 32px 0 0 0 #181818, 8px 4px 0 0 #181818, 12px 4px 0 0 #cdcdcd, 16px 4px 0 0 #cdcdcd, 20px 4px 0 0 #cdcdcd, 24px 4px 0 0 #cdcdcd, 28px 4px 0 0 #cdcdcd, 32px 4px 0 0 #cdcdcd, 36px 4px 0 0 #181818, 4px 8px 0 0 #181818, 8px 8px 0 0 #cdcdcd, 12px 8px 0 0 #cdcdcd, 16px 8px 0 0 #cdcdcd, 20px 8px 0 0 #cdcdcd, 24px 8px 0 0 #cdcdcd, 28px 8px 0 0 #cdcdcd, 32px 8px 0 0 #cdcdcd, 36px 8px 0 0 #cdcdcd, 40px 8px 0 0 #181818, 4px 12px 0 0 #181818, 8px 12px 0 0 #cdcdcd, 12px 12px 0 0 #cdcdcd, 16px 12px 0 0 #cdcdcd, 20px 12px 0 0 #cdcdcd, 24px 12px 0 0 #cdcdcd, 28px 12px 0 0 #cdcdcd, 32px 12px 0 0 #cdcdcd, 36px 12px 0 0 #f9f9f9, 40px 12px 0 0 #181818, 44px 12px 0 0 #181818, 0 16px 0 0 #181818, 4px 16px 0 0 #181818, 8px 16px 0 0 #181818, 12px 16px 0 0 #cdcdcd, 16px 16px 0 0 #cdcdcd, 20px 16px 0 0 #cdcdcd, 24px 16px 0 0 #cdcdcd, 28px 16px 0 0 #cdcdcd, 32px 16px 0 0 #f9f9f9, 36px 16px 0 0 #f9f9f9, 40px 16px 0 0 #f9f9f9, 44px 16px 0 0 #f9f9f9, 48px 16px 0 0 #181818, 0 20px 0 0 #181818, 4px 20px 0 0 #181818, 8px 20px 0 0 #181818, 12px 20px 0 0 #181818, 16px 20px 0 0 #181818, 20px 20px 0 0 #181818, 24px 20px 0 0 #181818, 28px 20px 0 0 #cdcdcd, 32px 20px 0 0 #cdcdcd, 36px 20px 0 0 #cdcdcd, 40px 20px 0 0 #181818, 44px 20px 0 0 #181818, 0 24px 0 0 #181818, 4px 24px 0 0 #181818, 8px 24px 0 0 #181818, 12px 24px 0 0 #181818, 16px 24px 0 0 #181818, 20px 24px 0 0 #181818, 24px 24px 0 0 #fdfdfd, 28px 24px 0 0 #fdfdfd, 32px 24px 0 0 #181818, 36px 24px 0 0 #fdfdfd, 40px 24px 0 0 #181818, 4px 28px 0 0 #181818, 8px 28px 0 0 #181818, 12px 28px 0 0 #fdfdfd, 16px 28px 0 0 #fdfdfd, 20px 28px 0 0 #181818, 24px 28px 0 0 #fdfdfd, 28px 28px 0 0 #fdfdfd, 32px 28px 0 0 #181818, 36px 28px 0 0 #fdfdfd, 40px 28px 0 0 #181818, 8px 32px 0 0 #181818, 12px 32px 0 0 #fdfdfd, 16px 32px 0 0 #fdfdfd, 20px 32px 0 0 #fdfdfd, 24px 32px 0 0 #fdfdfd, 28px 32px 0 0 #fdfdfd, 32px 32px 0 0 #fdfdfd, 36px 32px 0 0 #fdfdfd, 40px 32px 0 0 #181818, 4px 36px 0 0 #181818, 8px 36px 0 0 #cdcdcd, 12px 36px 0 0 #181818, 16px 36px 0 0 #181818, 20px 36px 0 0 #fdfdfd, 24px 36px 0 0 #fdfdfd, 28px 36px 0 0 #fdfdfd, 32px 36px 0 0 #cdcdcd, 36px 36px 0 0 #181818, 4px 40px 0 0 #181818, 8px 40px 0 0 #cdcdcd, 12px 40px 0 0 #cdcdcd, 16px 40px 0 0 #181818, 20px 40px 0 0 #181818, 24px 40px 0 0 #181818, 28px 40px 0 0 #181818, 32px 40px 0 0 #181818, 4px 44px 0 0 #181818, 8px 44px 0 0 #cdcdcd, 12px 44px 0 0 #181818, 16px 44px 0 0 #fdfdfd, 20px 44px 0 0 #fdfdfd, 24px 44px 0 0 #181818, 28px 44px 0 0 #181818, 4px 48px 0 0 #181818, 8px 48px 0 0 #cdcdcd, 12px 48px 0 0 #181818, 16px 48px 0 0 #fdfdfd, 20px 48px 0 0 #fdfdfd, 24px 48px 0 0 #181818, 28px 48px 0 0 #181818, 8px 52px 0 0 #181818, 12px 52px 0 0 #181818, 16px 52px 0 0 #181818, 20px 52px 0 0 #181818, 24px 52px 0 0 #cdcdcd, 28px 52px 0 0 #cdcdcd, 32px 52px 0 0 #181818, 12px 56px 0 0 #181818, 16px 56px 0 0 #cdcdcd, 20px 56px 0 0 #cdcdcd, 24px 56px 0 0 #cdcdcd, 28px 56px 0 0 #cdcdcd, 32px 56px 0 0 #181818, 16px 60px 0 0 #181818, 20px 60px 0 0 #181818, 24px 60px 0 0 #181818, 28px 60px 0 0 #181818;
    -webkit-box-shadow: 12px 0 0 0 #181818, 16px 0 0 0 #181818, 20px 0 0 0 #181818, 24px 0 0 0 #181818, 28px 0 0 0 #181818, 32px 0 0 0 #181818, 8px 4px 0 0 #181818, 12px 4px 0 0 #cdcdcd, 16px 4px 0 0 #cdcdcd, 20px 4px 0 0 #cdcdcd, 24px 4px 0 0 #cdcdcd, 28px 4px 0 0 #cdcdcd, 32px 4px 0 0 #cdcdcd, 36px 4px 0 0 #181818, 4px 8px 0 0 #181818, 8px 8px 0 0 #cdcdcd, 12px 8px 0 0 #cdcdcd, 16px 8px 0 0 #cdcdcd, 20px 8px 0 0 #cdcdcd, 24px 8px 0 0 #cdcdcd, 28px 8px 0 0 #cdcdcd, 32px 8px 0 0 #cdcdcd, 36px 8px 0 0 #cdcdcd, 40px 8px 0 0 #181818, 4px 12px 0 0 #181818, 8px 12px 0 0 #cdcdcd, 12px 12px 0 0 #cdcdcd, 16px 12px 0 0 #cdcdcd, 20px 12px 0 0 #cdcdcd, 24px 12px 0 0 #cdcdcd, 28px 12px 0 0 #cdcdcd, 32px 12px 0 0 #cdcdcd, 36px 12px 0 0 #f9f9f9, 40px 12px 0 0 #181818, 44px 12px 0 0 #181818, 0 16px 0 0 #181818, 4px 16px 0 0 #181818, 8px 16px 0 0 #181818, 12px 16px 0 0 #cdcdcd, 16px 16px 0 0 #cdcdcd, 20px 16px 0 0 #cdcdcd, 24px 16px 0 0 #cdcdcd, 28px 16px 0 0 #cdcdcd, 32px 16px 0 0 #f9f9f9, 36px 16px 0 0 #f9f9f9, 40px 16px 0 0 #f9f9f9, 44px 16px 0 0 #f9f9f9, 48px 16px 0 0 #181818, 0 20px 0 0 #181818, 4px 20px 0 0 #181818, 8px 20px 0 0 #181818, 12px 20px 0 0 #181818, 16px 20px 0 0 #181818, 20px 20px 0 0 #181818, 24px 20px 0 0 #181818, 28px 20px 0 0 #cdcdcd, 32px 20px 0 0 #cdcdcd, 36px 20px 0 0 #cdcdcd, 40px 20px 0 0 #181818, 44px 20px 0 0 #181818, 0 24px 0 0 #181818, 4px 24px 0 0 #181818, 8px 24px 0 0 #181818, 12px 24px 0 0 #181818, 16px 24px 0 0 #181818, 20px 24px 0 0 #181818, 24px 24px 0 0 #fdfdfd, 28px 24px 0 0 #fdfdfd, 32px 24px 0 0 #181818, 36px 24px 0 0 #fdfdfd, 40px 24px 0 0 #181818, 4px 28px 0 0 #181818, 8px 28px 0 0 #181818, 12px 28px 0 0 #fdfdfd, 16px 28px 0 0 #fdfdfd, 20px 28px 0 0 #181818, 24px 28px 0 0 #fdfdfd, 28px 28px 0 0 #fdfdfd, 32px 28px 0 0 #181818, 36px 28px 0 0 #fdfdfd, 40px 28px 0 0 #181818, 8px 32px 0 0 #181818, 12px 32px 0 0 #fdfdfd, 16px 32px 0 0 #fdfdfd, 20px 32px 0 0 #fdfdfd, 24px 32px 0 0 #fdfdfd, 28px 32px 0 0 #fdfdfd, 32px 32px 0 0 #fdfdfd, 36px 32px 0 0 #fdfdfd, 40px 32px 0 0 #181818, 4px 36px 0 0 #181818, 8px 36px 0 0 #cdcdcd, 12px 36px 0 0 #181818, 16px 36px 0 0 #181818, 20px 36px 0 0 #fdfdfd, 24px 36px 0 0 #fdfdfd, 28px 36px 0 0 #fdfdfd, 32px 36px 0 0 #cdcdcd, 36px 36px 0 0 #181818, 4px 40px 0 0 #181818, 8px 40px 0 0 #cdcdcd, 12px 40px 0 0 #cdcdcd, 16px 40px 0 0 #181818, 20px 40px 0 0 #181818, 24px 40px 0 0 #181818, 28px 40px 0 0 #181818, 32px 40px 0 0 #181818, 4px 44px 0 0 #181818, 8px 44px 0 0 #cdcdcd, 12px 44px 0 0 #181818, 16px 44px 0 0 #fdfdfd, 20px 44px 0 0 #fdfdfd, 24px 44px 0 0 #181818, 28px 44px 0 0 #181818, 4px 48px 0 0 #181818, 8px 48px 0 0 #cdcdcd, 12px 48px 0 0 #181818, 16px 48px 0 0 #fdfdfd, 20px 48px 0 0 #fdfdfd, 24px 48px 0 0 #181818, 28px 48px 0 0 #181818, 8px 52px 0 0 #181818, 12px 52px 0 0 #181818, 16px 52px 0 0 #181818, 20px 52px 0 0 #181818, 24px 52px 0 0 #cdcdcd, 28px 52px 0 0 #cdcdcd, 32px 52px 0 0 #181818, 12px 56px 0 0 #181818, 16px 56px 0 0 #cdcdcd, 20px 56px 0 0 #cdcdcd, 24px 56px 0 0 #cdcdcd, 28px 56px 0 0 #cdcdcd, 32px 56px 0 0 #181818, 16px 60px 0 0 #181818, 20px 60px 0 0 #181818, 24px 60px 0 0 #181818, 28px 60px 0 0 #181818;
    box-shadow: 12px 0 0 0 #181818, 16px 0 0 0 #181818, 20px 0 0 0 #181818, 24px 0 0 0 #181818, 28px 0 0 0 #181818, 32px 0 0 0 #181818, 8px 4px 0 0 #181818, 12px 4px 0 0 #cdcdcd, 16px 4px 0 0 #cdcdcd, 20px 4px 0 0 #cdcdcd, 24px 4px 0 0 #cdcdcd, 28px 4px 0 0 #cdcdcd, 32px 4px 0 0 #cdcdcd, 36px 4px 0 0 #181818, 4px 8px 0 0 #181818, 8px 8px 0 0 #cdcdcd, 12px 8px 0 0 #cdcdcd, 16px 8px 0 0 #cdcdcd, 20px 8px 0 0 #cdcdcd, 24px 8px 0 0 #cdcdcd, 28px 8px 0 0 #cdcdcd, 32px 8px 0 0 #cdcdcd, 36px 8px 0 0 #cdcdcd, 40px 8px 0 0 #181818, 4px 12px 0 0 #181818, 8px 12px 0 0 #cdcdcd, 12px 12px 0 0 #cdcdcd, 16px 12px 0 0 #cdcdcd, 20px 12px 0 0 #cdcdcd, 24px 12px 0 0 #cdcdcd, 28px 12px 0 0 #cdcdcd, 32px 12px 0 0 #cdcdcd, 36px 12px 0 0 #f9f9f9, 40px 12px 0 0 #181818, 44px 12px 0 0 #181818, 0 16px 0 0 #181818, 4px 16px 0 0 #181818, 8px 16px 0 0 #181818, 12px 16px 0 0 #cdcdcd, 16px 16px 0 0 #cdcdcd, 20px 16px 0 0 #cdcdcd, 24px 16px 0 0 #cdcdcd, 28px 16px 0 0 #cdcdcd, 32px 16px 0 0 #f9f9f9, 36px 16px 0 0 #f9f9f9, 40px 16px 0 0 #f9f9f9, 44px 16px 0 0 #f9f9f9, 48px 16px 0 0 #181818, 0 20px 0 0 #181818, 4px 20px 0 0 #181818, 8px 20px 0 0 #181818, 12px 20px 0 0 #181818, 16px 20px 0 0 #181818, 20px 20px 0 0 #181818, 24px 20px 0 0 #181818, 28px 20px 0 0 #cdcdcd, 32px 20px 0 0 #cdcdcd, 36px 20px 0 0 #cdcdcd, 40px 20px 0 0 #181818, 44px 20px 0 0 #181818, 0 24px 0 0 #181818, 4px 24px 0 0 #181818, 8px 24px 0 0 #181818, 12px 24px 0 0 #181818, 16px 24px 0 0 #181818, 20px 24px 0 0 #181818, 24px 24px 0 0 #fdfdfd, 28px 24px 0 0 #fdfdfd, 32px 24px 0 0 #181818, 36px 24px 0 0 #fdfdfd, 40px 24px 0 0 #181818, 4px 28px 0 0 #181818, 8px 28px 0 0 #181818, 12px 28px 0 0 #fdfdfd, 16px 28px 0 0 #fdfdfd, 20px 28px 0 0 #181818, 24px 28px 0 0 #fdfdfd, 28px 28px 0 0 #fdfdfd, 32px 28px 0 0 #181818, 36px 28px 0 0 #fdfdfd, 40px 28px 0 0 #181818, 8px 32px 0 0 #181818, 12px 32px 0 0 #fdfdfd, 16px 32px 0 0 #fdfdfd, 20px 32px 0 0 #fdfdfd, 24px 32px 0 0 #fdfdfd, 28px 32px 0 0 #fdfdfd, 32px 32px 0 0 #fdfdfd, 36px 32px 0 0 #fdfdfd, 40px 32px 0 0 #181818, 4px 36px 0 0 #181818, 8px 36px 0 0 #cdcdcd, 12px 36px 0 0 #181818, 16px 36px 0 0 #181818, 20px 36px 0 0 #fdfdfd, 24px 36px 0 0 #fdfdfd, 28px 36px 0 0 #fdfdfd, 32px 36px 0 0 #cdcdcd, 36px 36px 0 0 #181818, 4px 40px 0 0 #181818, 8px 40px 0 0 #cdcdcd, 12px 40px 0 0 #cdcdcd, 16px 40px 0 0 #181818, 20px 40px 0 0 #181818, 24px 40px 0 0 #181818, 28px 40px 0 0 #181818, 32px 40px 0 0 #181818, 4px 44px 0 0 #181818, 8px 44px 0 0 #cdcdcd, 12px 44px 0 0 #181818, 16px 44px 0 0 #fdfdfd, 20px 44px 0 0 #fdfdfd, 24px 44px 0 0 #181818, 28px 44px 0 0 #181818, 4px 48px 0 0 #181818, 8px 48px 0 0 #cdcdcd, 12px 48px 0 0 #181818, 16px 48px 0 0 #fdfdfd, 20px 48px 0 0 #fdfdfd, 24px 48px 0 0 #181818, 28px 48px 0 0 #181818, 8px 52px 0 0 #181818, 12px 52px 0 0 #181818, 16px 52px 0 0 #181818, 20px 52px 0 0 #181818, 24px 52px 0 0 #cdcdcd, 28px 52px 0 0 #cdcdcd, 32px 52px 0 0 #181818, 12px 56px 0 0 #181818, 16px 56px 0 0 #cdcdcd, 20px 56px 0 0 #cdcdcd, 24px 56px 0 0 #cdcdcd, 28px 56px 0 0 #cdcdcd, 32px 56px 0 0 #181818, 16px 60px 0 0 #181818, 20px 60px 0 0 #181818, 24px 60px 0 0 #181818, 28px 60px 0 0 #181818;
}

#pikachu {
    width: 60px;
    height: 64px;
}

#pikachu:before {
    -moz-box-shadow: 16px 4px 0 0 #181818, 20px 4px 0 0 #181818, 0 8px 0 0 #181818, 4px 8px 0 0 #181818, 8px 8px 0 0 #181818, 12px 8px 0 0 #181818, 16px 8px 0 0 #181818, 20px 8px 0 0 #181818, 24px 8px 0 0 #181818, 28px 8px 0 0 #181818, 32px 8px 0 0 #181818, 0 12px 0 0 #181818, 4px 12px 0 0 #f8f8f8, 8px 12px 0 0 #f8f8f8, 12px 12px 0 0 #f8f8f8, 16px 12px 0 0 #181818, 20px 12px 0 0 #181818, 24px 12px 0 0 #181818, 28px 12px 0 0 #f8f8f8, 32px 12px 0 0 #f8f8f8, 36px 12px 0 0 #181818, 40px 12px 0 0 #181818, 44px 12px 0 0 #181818, 4px 16px 0 0 #181818, 8px 16px 0 0 #f8f8f8, 12px 16px 0 0 #f8f8f8, 16px 16px 0 0 #f8f8f8, 20px 16px 0 0 #181818, 24px 16px 0 0 #f8f8f8, 28px 16px 0 0 #f8f8f8, 32px 16px 0 0 #f8f8f8, 36px 16px 0 0 #f8f8f8, 40px 16px 0 0 #f8f8f8, 44px 16px 0 0 #f8f8f8, 48px 16px 0 0 #181818, 8px 20px 0 0 #181818, 12px 20px 0 0 #f8f8f8, 16px 20px 0 0 #f8f8f8, 20px 20px 0 0 #181818, 24px 20px 0 0 #181818, 28px 20px 0 0 #f8f8f8, 32px 20px 0 0 #f8f8f8, 36px 20px 0 0 #f8f8f8, 40px 20px 0 0 #f8f8f8, 44px 20px 0 0 #f8f8f8, 48px 20px 0 0 #f8f8f8, 52px 20px 0 0 #181818, 12px 24px 0 0 #181818, 16px 24px 0 0 #f8f8f8, 20px 24px 0 0 #f8f8f8, 24px 24px 0 0 #181818, 28px 24px 0 0 #f8f8f8, 32px 24px 0 0 #f8f8f8, 36px 24px 0 0 #f8f8f8, 40px 24px 0 0 #f8f8f8, 44px 24px 0 0 #f8f8f8, 48px 24px 0 0 #f8f8f8, 52px 24px 0 0 #181818, 4px 28px 0 0 #181818, 8px 28px 0 0 #181818, 12px 28px 0 0 #181818, 16px 28px 0 0 #f8f8f8, 20px 28px 0 0 #181818, 24px 28px 0 0 #f8f8f8, 28px 28px 0 0 #f8f8f8, 32px 28px 0 0 #f8f8f8, 36px 28px 0 0 #f8f8f8, 40px 28px 0 0 #f8f8f8, 44px 28px 0 0 #181818, 48px 28px 0 0 #f8f8f8, 52px 28px 0 0 #f8f8f8, 56px 28px 0 0 #181818, 4px 32px 0 0 #181818, 8px 32px 0 0 #f8f8f8, 12px 32px 0 0 #f8f8f8, 16px 32px 0 0 #181818, 20px 32px 0 0 #181818, 24px 32px 0 0 #f8f8f8, 28px 32px 0 0 #f8f8f8, 32px 32px 0 0 #f8f8f8, 36px 32px 0 0 #c0c0c0, 40px 32px 0 0 #f8f8f8, 44px 32px 0 0 #f8f8f8, 48px 32px 0 0 #f8f8f8, 52px 32px 0 0 #f8f8f8, 56px 32px 0 0 #181818, 8px 36px 0 0 #181818, 12px 36px 0 0 #c0c0c0, 16px 36px 0 0 #181818, 20px 36px 0 0 #c0c0c0, 24px 36px 0 0 #c0c0c0, 28px 36px 0 0 #c0c0c0, 32px 36px 0 0 #f8f8f8, 36px 36px 0 0 #f8f8f8, 40px 36px 0 0 #f8f8f8, 44px 36px 0 0 #f8f8f8, 48px 36px 0 0 #f8f8f8, 52px 36px 0 0 #181818, 4px 40px 0 0 #181818, 8px 40px 0 0 #c0c0c0, 12px 40px 0 0 #c0c0c0, 16px 40px 0 0 #181818, 20px 40px 0 0 #f8f8f8, 24px 40px 0 0 #f8f8f8, 28px 40px 0 0 #f8f8f8, 32px 40px 0 0 #f8f8f8, 36px 40px 0 0 #f8f8f8, 40px 40px 0 0 #f8f8f8, 44px 40px 0 0 #181818, 48px 40px 0 0 #f8f8f8, 52px 40px 0 0 #181818, 8px 44px 0 0 #181818, 12px 44px 0 0 #c0c0c0, 16px 44px 0 0 #181818, 20px 44px 0 0 #c0c0c0, 24px 44px 0 0 #c0c0c0, 28px 44px 0 0 #c0c0c0, 32px 44px 0 0 #f8f8f8, 36px 44px 0 0 #f8f8f8, 40px 44px 0 0 #181818, 44px 44px 0 0 #181818, 48px 44px 0 0 #f8f8f8, 52px 44px 0 0 #181818, 12px 48px 0 0 #181818, 16px 48px 0 0 #181818, 20px 48px 0 0 #181818, 24px 48px 0 0 #f8f8f8, 28px 48px 0 0 #f8f8f8, 32px 48px 0 0 #f8f8f8, 36px 48px 0 0 #f8f8f8, 40px 48px 0 0 #f8f8f8, 44px 48px 0 0 #f8f8f8, 48px 48px 0 0 #181818, 52px 48px 0 0 #181818, 12px 52px 0 0 #181818, 16px 52px 0 0 #f8f8f8, 20px 52px 0 0 #181818, 24px 52px 0 0 #181818, 28px 52px 0 0 #f8f8f8, 32px 52px 0 0 #f8f8f8, 36px 52px 0 0 #f8f8f8, 40px 52px 0 0 #f8f8f8, 44px 52px 0 0 #181818, 48px 52px 0 0 #f8f8f8, 52px 52px 0 0 #f8f8f8, 56px 52px 0 0 #181818, 16px 56px 0 0 #181818, 20px 56px 0 0 #f8f8f8, 24px 56px 0 0 #f8f8f8, 28px 56px 0 0 #181818, 32px 56px 0 0 #181818, 36px 56px 0 0 #181818, 40px 56px 0 0 #181818, 48px 56px 0 0 #181818, 52px 56px 0 0 #181818, 20px 60px 0 0 #181818, 24px 60px 0 0 #181818;
    -webkit-box-shadow: 16px 4px 0 0 #181818, 20px 4px 0 0 #181818, 0 8px 0 0 #181818, 4px 8px 0 0 #181818, 8px 8px 0 0 #181818, 12px 8px 0 0 #181818, 16px 8px 0 0 #181818, 20px 8px 0 0 #181818, 24px 8px 0 0 #181818, 28px 8px 0 0 #181818, 32px 8px 0 0 #181818, 0 12px 0 0 #181818, 4px 12px 0 0 #f8f8f8, 8px 12px 0 0 #f8f8f8, 12px 12px 0 0 #f8f8f8, 16px 12px 0 0 #181818, 20px 12px 0 0 #181818, 24px 12px 0 0 #181818, 28px 12px 0 0 #f8f8f8, 32px 12px 0 0 #f8f8f8, 36px 12px 0 0 #181818, 40px 12px 0 0 #181818, 44px 12px 0 0 #181818, 4px 16px 0 0 #181818, 8px 16px 0 0 #f8f8f8, 12px 16px 0 0 #f8f8f8, 16px 16px 0 0 #f8f8f8, 20px 16px 0 0 #181818, 24px 16px 0 0 #f8f8f8, 28px 16px 0 0 #f8f8f8, 32px 16px 0 0 #f8f8f8, 36px 16px 0 0 #f8f8f8, 40px 16px 0 0 #f8f8f8, 44px 16px 0 0 #f8f8f8, 48px 16px 0 0 #181818, 8px 20px 0 0 #181818, 12px 20px 0 0 #f8f8f8, 16px 20px 0 0 #f8f8f8, 20px 20px 0 0 #181818, 24px 20px 0 0 #181818, 28px 20px 0 0 #f8f8f8, 32px 20px 0 0 #f8f8f8, 36px 20px 0 0 #f8f8f8, 40px 20px 0 0 #f8f8f8, 44px 20px 0 0 #f8f8f8, 48px 20px 0 0 #f8f8f8, 52px 20px 0 0 #181818, 12px 24px 0 0 #181818, 16px 24px 0 0 #f8f8f8, 20px 24px 0 0 #f8f8f8, 24px 24px 0 0 #181818, 28px 24px 0 0 #f8f8f8, 32px 24px 0 0 #f8f8f8, 36px 24px 0 0 #f8f8f8, 40px 24px 0 0 #f8f8f8, 44px 24px 0 0 #f8f8f8, 48px 24px 0 0 #f8f8f8, 52px 24px 0 0 #181818, 4px 28px 0 0 #181818, 8px 28px 0 0 #181818, 12px 28px 0 0 #181818, 16px 28px 0 0 #f8f8f8, 20px 28px 0 0 #181818, 24px 28px 0 0 #f8f8f8, 28px 28px 0 0 #f8f8f8, 32px 28px 0 0 #f8f8f8, 36px 28px 0 0 #f8f8f8, 40px 28px 0 0 #f8f8f8, 44px 28px 0 0 #181818, 48px 28px 0 0 #f8f8f8, 52px 28px 0 0 #f8f8f8, 56px 28px 0 0 #181818, 4px 32px 0 0 #181818, 8px 32px 0 0 #f8f8f8, 12px 32px 0 0 #f8f8f8, 16px 32px 0 0 #181818, 20px 32px 0 0 #181818, 24px 32px 0 0 #f8f8f8, 28px 32px 0 0 #f8f8f8, 32px 32px 0 0 #f8f8f8, 36px 32px 0 0 #c0c0c0, 40px 32px 0 0 #f8f8f8, 44px 32px 0 0 #f8f8f8, 48px 32px 0 0 #f8f8f8, 52px 32px 0 0 #f8f8f8, 56px 32px 0 0 #181818, 8px 36px 0 0 #181818, 12px 36px 0 0 #c0c0c0, 16px 36px 0 0 #181818, 20px 36px 0 0 #c0c0c0, 24px 36px 0 0 #c0c0c0, 28px 36px 0 0 #c0c0c0, 32px 36px 0 0 #f8f8f8, 36px 36px 0 0 #f8f8f8, 40px 36px 0 0 #f8f8f8, 44px 36px 0 0 #f8f8f8, 48px 36px 0 0 #f8f8f8, 52px 36px 0 0 #181818, 4px 40px 0 0 #181818, 8px 40px 0 0 #c0c0c0, 12px 40px 0 0 #c0c0c0, 16px 40px 0 0 #181818, 20px 40px 0 0 #f8f8f8, 24px 40px 0 0 #f8f8f8, 28px 40px 0 0 #f8f8f8, 32px 40px 0 0 #f8f8f8, 36px 40px 0 0 #f8f8f8, 40px 40px 0 0 #f8f8f8, 44px 40px 0 0 #181818, 48px 40px 0 0 #f8f8f8, 52px 40px 0 0 #181818, 8px 44px 0 0 #181818, 12px 44px 0 0 #c0c0c0, 16px 44px 0 0 #181818, 20px 44px 0 0 #c0c0c0, 24px 44px 0 0 #c0c0c0, 28px 44px 0 0 #c0c0c0, 32px 44px 0 0 #f8f8f8, 36px 44px 0 0 #f8f8f8, 40px 44px 0 0 #181818, 44px 44px 0 0 #181818, 48px 44px 0 0 #f8f8f8, 52px 44px 0 0 #181818, 12px 48px 0 0 #181818, 16px 48px 0 0 #181818, 20px 48px 0 0 #181818, 24px 48px 0 0 #f8f8f8, 28px 48px 0 0 #f8f8f8, 32px 48px 0 0 #f8f8f8, 36px 48px 0 0 #f8f8f8, 40px 48px 0 0 #f8f8f8, 44px 48px 0 0 #f8f8f8, 48px 48px 0 0 #181818, 52px 48px 0 0 #181818, 12px 52px 0 0 #181818, 16px 52px 0 0 #f8f8f8, 20px 52px 0 0 #181818, 24px 52px 0 0 #181818, 28px 52px 0 0 #f8f8f8, 32px 52px 0 0 #f8f8f8, 36px 52px 0 0 #f8f8f8, 40px 52px 0 0 #f8f8f8, 44px 52px 0 0 #181818, 48px 52px 0 0 #f8f8f8, 52px 52px 0 0 #f8f8f8, 56px 52px 0 0 #181818, 16px 56px 0 0 #181818, 20px 56px 0 0 #f8f8f8, 24px 56px 0 0 #f8f8f8, 28px 56px 0 0 #181818, 32px 56px 0 0 #181818, 36px 56px 0 0 #181818, 40px 56px 0 0 #181818, 48px 56px 0 0 #181818, 52px 56px 0 0 #181818, 20px 60px 0 0 #181818, 24px 60px 0 0 #181818;
    box-shadow: 16px 4px 0 0 #181818, 20px 4px 0 0 #181818, 0 8px 0 0 #181818, 4px 8px 0 0 #181818, 8px 8px 0 0 #181818, 12px 8px 0 0 #181818, 16px 8px 0 0 #181818, 20px 8px 0 0 #181818, 24px 8px 0 0 #181818, 28px 8px 0 0 #181818, 32px 8px 0 0 #181818, 0 12px 0 0 #181818, 4px 12px 0 0 #f8f8f8, 8px 12px 0 0 #f8f8f8, 12px 12px 0 0 #f8f8f8, 16px 12px 0 0 #181818, 20px 12px 0 0 #181818, 24px 12px 0 0 #181818, 28px 12px 0 0 #f8f8f8, 32px 12px 0 0 #f8f8f8, 36px 12px 0 0 #181818, 40px 12px 0 0 #181818, 44px 12px 0 0 #181818, 4px 16px 0 0 #181818, 8px 16px 0 0 #f8f8f8, 12px 16px 0 0 #f8f8f8, 16px 16px 0 0 #f8f8f8, 20px 16px 0 0 #181818, 24px 16px 0 0 #f8f8f8, 28px 16px 0 0 #f8f8f8, 32px 16px 0 0 #f8f8f8, 36px 16px 0 0 #f8f8f8, 40px 16px 0 0 #f8f8f8, 44px 16px 0 0 #f8f8f8, 48px 16px 0 0 #181818, 8px 20px 0 0 #181818, 12px 20px 0 0 #f8f8f8, 16px 20px 0 0 #f8f8f8, 20px 20px 0 0 #181818, 24px 20px 0 0 #181818, 28px 20px 0 0 #f8f8f8, 32px 20px 0 0 #f8f8f8, 36px 20px 0 0 #f8f8f8, 40px 20px 0 0 #f8f8f8, 44px 20px 0 0 #f8f8f8, 48px 20px 0 0 #f8f8f8, 52px 20px 0 0 #181818, 12px 24px 0 0 #181818, 16px 24px 0 0 #f8f8f8, 20px 24px 0 0 #f8f8f8, 24px 24px 0 0 #181818, 28px 24px 0 0 #f8f8f8, 32px 24px 0 0 #f8f8f8, 36px 24px 0 0 #f8f8f8, 40px 24px 0 0 #f8f8f8, 44px 24px 0 0 #f8f8f8, 48px 24px 0 0 #f8f8f8, 52px 24px 0 0 #181818, 4px 28px 0 0 #181818, 8px 28px 0 0 #181818, 12px 28px 0 0 #181818, 16px 28px 0 0 #f8f8f8, 20px 28px 0 0 #181818, 24px 28px 0 0 #f8f8f8, 28px 28px 0 0 #f8f8f8, 32px 28px 0 0 #f8f8f8, 36px 28px 0 0 #f8f8f8, 40px 28px 0 0 #f8f8f8, 44px 28px 0 0 #181818, 48px 28px 0 0 #f8f8f8, 52px 28px 0 0 #f8f8f8, 56px 28px 0 0 #181818, 4px 32px 0 0 #181818, 8px 32px 0 0 #f8f8f8, 12px 32px 0 0 #f8f8f8, 16px 32px 0 0 #181818, 20px 32px 0 0 #181818, 24px 32px 0 0 #f8f8f8, 28px 32px 0 0 #f8f8f8, 32px 32px 0 0 #f8f8f8, 36px 32px 0 0 #c0c0c0, 40px 32px 0 0 #f8f8f8, 44px 32px 0 0 #f8f8f8, 48px 32px 0 0 #f8f8f8, 52px 32px 0 0 #f8f8f8, 56px 32px 0 0 #181818, 8px 36px 0 0 #181818, 12px 36px 0 0 #c0c0c0, 16px 36px 0 0 #181818, 20px 36px 0 0 #c0c0c0, 24px 36px 0 0 #c0c0c0, 28px 36px 0 0 #c0c0c0, 32px 36px 0 0 #f8f8f8, 36px 36px 0 0 #f8f8f8, 40px 36px 0 0 #f8f8f8, 44px 36px 0 0 #f8f8f8, 48px 36px 0 0 #f8f8f8, 52px 36px 0 0 #181818, 4px 40px 0 0 #181818, 8px 40px 0 0 #c0c0c0, 12px 40px 0 0 #c0c0c0, 16px 40px 0 0 #181818, 20px 40px 0 0 #f8f8f8, 24px 40px 0 0 #f8f8f8, 28px 40px 0 0 #f8f8f8, 32px 40px 0 0 #f8f8f8, 36px 40px 0 0 #f8f8f8, 40px 40px 0 0 #f8f8f8, 44px 40px 0 0 #181818, 48px 40px 0 0 #f8f8f8, 52px 40px 0 0 #181818, 8px 44px 0 0 #181818, 12px 44px 0 0 #c0c0c0, 16px 44px 0 0 #181818, 20px 44px 0 0 #c0c0c0, 24px 44px 0 0 #c0c0c0, 28px 44px 0 0 #c0c0c0, 32px 44px 0 0 #f8f8f8, 36px 44px 0 0 #f8f8f8, 40px 44px 0 0 #181818, 44px 44px 0 0 #181818, 48px 44px 0 0 #f8f8f8, 52px 44px 0 0 #181818, 12px 48px 0 0 #181818, 16px 48px 0 0 #181818, 20px 48px 0 0 #181818, 24px 48px 0 0 #f8f8f8, 28px 48px 0 0 #f8f8f8, 32px 48px 0 0 #f8f8f8, 36px 48px 0 0 #f8f8f8, 40px 48px 0 0 #f8f8f8, 44px 48px 0 0 #f8f8f8, 48px 48px 0 0 #181818, 52px 48px 0 0 #181818, 12px 52px 0 0 #181818, 16px 52px 0 0 #f8f8f8, 20px 52px 0 0 #181818, 24px 52px 0 0 #181818, 28px 52px 0 0 #f8f8f8, 32px 52px 0 0 #f8f8f8, 36px 52px 0 0 #f8f8f8, 40px 52px 0 0 #f8f8f8, 44px 52px 0 0 #181818, 48px 52px 0 0 #f8f8f8, 52px 52px 0 0 #f8f8f8, 56px 52px 0 0 #181818, 16px 56px 0 0 #181818, 20px 56px 0 0 #f8f8f8, 24px 56px 0 0 #f8f8f8, 28px 56px 0 0 #181818, 32px 56px 0 0 #181818, 36px 56px 0 0 #181818, 40px 56px 0 0 #181818, 48px 56px 0 0 #181818, 52px 56px 0 0 #181818, 20px 60px 0 0 #181818, 24px 60px 0 0 #181818;
}

#pikachu:after {
    -moz-box-shadow: 16px 8px 0 0 #181818, 20px 8px 0 0 #181818, 0 12px 0 0 #181818, 4px 12px 0 0 #181818, 8px 12px 0 0 #181818, 12px 12px 0 0 #181818, 16px 12px 0 0 #181818, 20px 12px 0 0 #181818, 24px 12px 0 0 #181818, 28px 12px 0 0 #181818, 32px 12px 0 0 #181818, 0 16px 0 0 #181818, 4px 16px 0 0 #f8f8f8, 8px 16px 0 0 #f8f8f8, 12px 16px 0 0 #f8f8f8, 16px 16px 0 0 #181818, 20px 16px 0 0 #181818, 24px 16px 0 0 #181818, 28px 16px 0 0 #f8f8f8, 32px 16px 0 0 #f8f8f8, 36px 16px 0 0 #181818, 40px 16px 0 0 #181818, 44px 16px 0 0 #181818, 4px 20px 0 0 #181818, 8px 20px 0 0 #f8f8f8, 12px 20px 0 0 #f8f8f8, 16px 20px 0 0 #f8f8f8, 20px 20px 0 0 #181818, 24px 20px 0 0 #f8f8f8, 28px 20px 0 0 #f8f8f8, 32px 20px 0 0 #f8f8f8, 36px 20px 0 0 #f8f8f8, 40px 20px 0 0 #f8f8f8, 44px 20px 0 0 #f8f8f8, 48px 20px 0 0 #181818, 8px 24px 0 0 #181818, 12px 24px 0 0 #f8f8f8, 16px 24px 0 0 #f8f8f8, 20px 24px 0 0 #181818, 24px 24px 0 0 #181818, 28px 24px 0 0 #f8f8f8, 32px 24px 0 0 #f8f8f8, 36px 24px 0 0 #f8f8f8, 40px 24px 0 0 #f8f8f8, 44px 24px 0 0 #f8f8f8, 48px 24px 0 0 #f8f8f8, 52px 24px 0 0 #181818, 12px 28px 0 0 #181818, 16px 28px 0 0 #f8f8f8, 20px 28px 0 0 #f8f8f8, 24px 28px 0 0 #181818, 28px 28px 0 0 #f8f8f8, 32px 28px 0 0 #f8f8f8, 36px 28px 0 0 #f8f8f8, 40px 28px 0 0 #f8f8f8, 44px 28px 0 0 #f8f8f8, 48px 28px 0 0 #f8f8f8, 52px 28px 0 0 #181818, 4px 32px 0 0 #181818, 8px 32px 0 0 #181818, 12px 32px 0 0 #181818, 16px 32px 0 0 #f8f8f8, 20px 32px 0 0 #181818, 24px 32px 0 0 #f8f8f8, 28px 32px 0 0 #f8f8f8, 32px 32px 0 0 #f8f8f8, 36px 32px 0 0 #f8f8f8, 40px 32px 0 0 #f8f8f8, 44px 32px 0 0 #181818, 48px 32px 0 0 #f8f8f8, 52px 32px 0 0 #f8f8f8, 56px 32px 0 0 #181818, 4px 36px 0 0 #181818, 8px 36px 0 0 #f8f8f8, 12px 36px 0 0 #f8f8f8, 16px 36px 0 0 #f8f8f8, 20px 36px 0 0 #181818, 24px 36px 0 0 #f8f8f8, 28px 36px 0 0 #f8f8f8, 32px 36px 0 0 #f8f8f8, 36px 36px 0 0 #c0c0c0, 40px 36px 0 0 #f8f8f8, 44px 36px 0 0 #f8f8f8, 48px 36px 0 0 #f8f8f8, 52px 36px 0 0 #f8f8f8, 56px 36px 0 0 #181818, 8px 40px 0 0 #181818, 12px 40px 0 0 #c0c0c0, 16px 40px 0 0 #181818, 20px 40px 0 0 #c0c0c0, 24px 40px 0 0 #c0c0c0, 28px 40px 0 0 #c0c0c0, 32px 40px 0 0 #f8f8f8, 36px 40px 0 0 #f8f8f8, 40px 40px 0 0 #f8f8f8, 44px 40px 0 0 #f8f8f8, 48px 40px 0 0 #f8f8f8, 52px 40px 0 0 #181818, 4px 44px 0 0 #181818, 8px 44px 0 0 #c0c0c0, 12px 44px 0 0 #c0c0c0, 16px 44px 0 0 #181818, 20px 44px 0 0 #f8f8f8, 24px 44px 0 0 #f8f8f8, 28px 44px 0 0 #f8f8f8, 32px 44px 0 0 #f8f8f8, 36px 44px 0 0 #f8f8f8, 40px 44px 0 0 #f8f8f8, 44px 44px 0 0 #181818, 48px 44px 0 0 #f8f8f8, 52px 44px 0 0 #181818, 8px 48px 0 0 #181818, 12px 48px 0 0 #c0c0c0, 16px 48px 0 0 #181818, 20px 48px 0 0 #c0c0c0, 24px 48px 0 0 #c0c0c0, 28px 48px 0 0 #c0c0c0, 32px 48px 0 0 #f8f8f8, 36px 48px 0 0 #f8f8f8, 40px 48px 0 0 #181818, 44px 48px 0 0 #181818, 48px 48px 0 0 #f8f8f8, 52px 48px 0 0 #181818, 12px 52px 0 0 #181818, 16px 52px 0 0 #181818, 20px 52px 0 0 #181818, 24px 52px 0 0 #f8f8f8, 28px 52px 0 0 #f8f8f8, 32px 52px 0 0 #f8f8f8, 36px 52px 0 0 #f8f8f8, 40px 52px 0 0 #f8f8f8, 44px 52px 0 0 #f8f8f8, 48px 52px 0 0 #f8f8f8, 52px 52px 0 0 #181818, 24px 56px 0 0 #181818, 28px 56px 0 0 #181818, 32px 56px 0 0 #f8f8f8, 36px 56px 0 0 #f8f8f8, 40px 56px 0 0 #f8f8f8, 44px 56px 0 0 #181818, 48px 56px 0 0 #181818, 32px 60px 0 0 #181818, 36px 60px 0 0 #181818, 40px 60px 0 0 #181818;
    -webkit-box-shadow: 16px 8px 0 0 #181818, 20px 8px 0 0 #181818, 0 12px 0 0 #181818, 4px 12px 0 0 #181818, 8px 12px 0 0 #181818, 12px 12px 0 0 #181818, 16px 12px 0 0 #181818, 20px 12px 0 0 #181818, 24px 12px 0 0 #181818, 28px 12px 0 0 #181818, 32px 12px 0 0 #181818, 0 16px 0 0 #181818, 4px 16px 0 0 #f8f8f8, 8px 16px 0 0 #f8f8f8, 12px 16px 0 0 #f8f8f8, 16px 16px 0 0 #181818, 20px 16px 0 0 #181818, 24px 16px 0 0 #181818, 28px 16px 0 0 #f8f8f8, 32px 16px 0 0 #f8f8f8, 36px 16px 0 0 #181818, 40px 16px 0 0 #181818, 44px 16px 0 0 #181818, 4px 20px 0 0 #181818, 8px 20px 0 0 #f8f8f8, 12px 20px 0 0 #f8f8f8, 16px 20px 0 0 #f8f8f8, 20px 20px 0 0 #181818, 24px 20px 0 0 #f8f8f8, 28px 20px 0 0 #f8f8f8, 32px 20px 0 0 #f8f8f8, 36px 20px 0 0 #f8f8f8, 40px 20px 0 0 #f8f8f8, 44px 20px 0 0 #f8f8f8, 48px 20px 0 0 #181818, 8px 24px 0 0 #181818, 12px 24px 0 0 #f8f8f8, 16px 24px 0 0 #f8f8f8, 20px 24px 0 0 #181818, 24px 24px 0 0 #181818, 28px 24px 0 0 #f8f8f8, 32px 24px 0 0 #f8f8f8, 36px 24px 0 0 #f8f8f8, 40px 24px 0 0 #f8f8f8, 44px 24px 0 0 #f8f8f8, 48px 24px 0 0 #f8f8f8, 52px 24px 0 0 #181818, 12px 28px 0 0 #181818, 16px 28px 0 0 #f8f8f8, 20px 28px 0 0 #f8f8f8, 24px 28px 0 0 #181818, 28px 28px 0 0 #f8f8f8, 32px 28px 0 0 #f8f8f8, 36px 28px 0 0 #f8f8f8, 40px 28px 0 0 #f8f8f8, 44px 28px 0 0 #f8f8f8, 48px 28px 0 0 #f8f8f8, 52px 28px 0 0 #181818, 4px 32px 0 0 #181818, 8px 32px 0 0 #181818, 12px 32px 0 0 #181818, 16px 32px 0 0 #f8f8f8, 20px 32px 0 0 #181818, 24px 32px 0 0 #f8f8f8, 28px 32px 0 0 #f8f8f8, 32px 32px 0 0 #f8f8f8, 36px 32px 0 0 #f8f8f8, 40px 32px 0 0 #f8f8f8, 44px 32px 0 0 #181818, 48px 32px 0 0 #f8f8f8, 52px 32px 0 0 #f8f8f8, 56px 32px 0 0 #181818, 4px 36px 0 0 #181818, 8px 36px 0 0 #f8f8f8, 12px 36px 0 0 #f8f8f8, 16px 36px 0 0 #f8f8f8, 20px 36px 0 0 #181818, 24px 36px 0 0 #f8f8f8, 28px 36px 0 0 #f8f8f8, 32px 36px 0 0 #f8f8f8, 36px 36px 0 0 #c0c0c0, 40px 36px 0 0 #f8f8f8, 44px 36px 0 0 #f8f8f8, 48px 36px 0 0 #f8f8f8, 52px 36px 0 0 #f8f8f8, 56px 36px 0 0 #181818, 8px 40px 0 0 #181818, 12px 40px 0 0 #c0c0c0, 16px 40px 0 0 #181818, 20px 40px 0 0 #c0c0c0, 24px 40px 0 0 #c0c0c0, 28px 40px 0 0 #c0c0c0, 32px 40px 0 0 #f8f8f8, 36px 40px 0 0 #f8f8f8, 40px 40px 0 0 #f8f8f8, 44px 40px 0 0 #f8f8f8, 48px 40px 0 0 #f8f8f8, 52px 40px 0 0 #181818, 4px 44px 0 0 #181818, 8px 44px 0 0 #c0c0c0, 12px 44px 0 0 #c0c0c0, 16px 44px 0 0 #181818, 20px 44px 0 0 #f8f8f8, 24px 44px 0 0 #f8f8f8, 28px 44px 0 0 #f8f8f8, 32px 44px 0 0 #f8f8f8, 36px 44px 0 0 #f8f8f8, 40px 44px 0 0 #f8f8f8, 44px 44px 0 0 #181818, 48px 44px 0 0 #f8f8f8, 52px 44px 0 0 #181818, 8px 48px 0 0 #181818, 12px 48px 0 0 #c0c0c0, 16px 48px 0 0 #181818, 20px 48px 0 0 #c0c0c0, 24px 48px 0 0 #c0c0c0, 28px 48px 0 0 #c0c0c0, 32px 48px 0 0 #f8f8f8, 36px 48px 0 0 #f8f8f8, 40px 48px 0 0 #181818, 44px 48px 0 0 #181818, 48px 48px 0 0 #f8f8f8, 52px 48px 0 0 #181818, 12px 52px 0 0 #181818, 16px 52px 0 0 #181818, 20px 52px 0 0 #181818, 24px 52px 0 0 #f8f8f8, 28px 52px 0 0 #f8f8f8, 32px 52px 0 0 #f8f8f8, 36px 52px 0 0 #f8f8f8, 40px 52px 0 0 #f8f8f8, 44px 52px 0 0 #f8f8f8, 48px 52px 0 0 #f8f8f8, 52px 52px 0 0 #181818, 24px 56px 0 0 #181818, 28px 56px 0 0 #181818, 32px 56px 0 0 #f8f8f8, 36px 56px 0 0 #f8f8f8, 40px 56px 0 0 #f8f8f8, 44px 56px 0 0 #181818, 48px 56px 0 0 #181818, 32px 60px 0 0 #181818, 36px 60px 0 0 #181818, 40px 60px 0 0 #181818;
    box-shadow: 16px 8px 0 0 #181818, 20px 8px 0 0 #181818, 0 12px 0 0 #181818, 4px 12px 0 0 #181818, 8px 12px 0 0 #181818, 12px 12px 0 0 #181818, 16px 12px 0 0 #181818, 20px 12px 0 0 #181818, 24px 12px 0 0 #181818, 28px 12px 0 0 #181818, 32px 12px 0 0 #181818, 0 16px 0 0 #181818, 4px 16px 0 0 #f8f8f8, 8px 16px 0 0 #f8f8f8, 12px 16px 0 0 #f8f8f8, 16px 16px 0 0 #181818, 20px 16px 0 0 #181818, 24px 16px 0 0 #181818, 28px 16px 0 0 #f8f8f8, 32px 16px 0 0 #f8f8f8, 36px 16px 0 0 #181818, 40px 16px 0 0 #181818, 44px 16px 0 0 #181818, 4px 20px 0 0 #181818, 8px 20px 0 0 #f8f8f8, 12px 20px 0 0 #f8f8f8, 16px 20px 0 0 #f8f8f8, 20px 20px 0 0 #181818, 24px 20px 0 0 #f8f8f8, 28px 20px 0 0 #f8f8f8, 32px 20px 0 0 #f8f8f8, 36px 20px 0 0 #f8f8f8, 40px 20px 0 0 #f8f8f8, 44px 20px 0 0 #f8f8f8, 48px 20px 0 0 #181818, 8px 24px 0 0 #181818, 12px 24px 0 0 #f8f8f8, 16px 24px 0 0 #f8f8f8, 20px 24px 0 0 #181818, 24px 24px 0 0 #181818, 28px 24px 0 0 #f8f8f8, 32px 24px 0 0 #f8f8f8, 36px 24px 0 0 #f8f8f8, 40px 24px 0 0 #f8f8f8, 44px 24px 0 0 #f8f8f8, 48px 24px 0 0 #f8f8f8, 52px 24px 0 0 #181818, 12px 28px 0 0 #181818, 16px 28px 0 0 #f8f8f8, 20px 28px 0 0 #f8f8f8, 24px 28px 0 0 #181818, 28px 28px 0 0 #f8f8f8, 32px 28px 0 0 #f8f8f8, 36px 28px 0 0 #f8f8f8, 40px 28px 0 0 #f8f8f8, 44px 28px 0 0 #f8f8f8, 48px 28px 0 0 #f8f8f8, 52px 28px 0 0 #181818, 4px 32px 0 0 #181818, 8px 32px 0 0 #181818, 12px 32px 0 0 #181818, 16px 32px 0 0 #f8f8f8, 20px 32px 0 0 #181818, 24px 32px 0 0 #f8f8f8, 28px 32px 0 0 #f8f8f8, 32px 32px 0 0 #f8f8f8, 36px 32px 0 0 #f8f8f8, 40px 32px 0 0 #f8f8f8, 44px 32px 0 0 #181818, 48px 32px 0 0 #f8f8f8, 52px 32px 0 0 #f8f8f8, 56px 32px 0 0 #181818, 4px 36px 0 0 #181818, 8px 36px 0 0 #f8f8f8, 12px 36px 0 0 #f8f8f8, 16px 36px 0 0 #f8f8f8, 20px 36px 0 0 #181818, 24px 36px 0 0 #f8f8f8, 28px 36px 0 0 #f8f8f8, 32px 36px 0 0 #f8f8f8, 36px 36px 0 0 #c0c0c0, 40px 36px 0 0 #f8f8f8, 44px 36px 0 0 #f8f8f8, 48px 36px 0 0 #f8f8f8, 52px 36px 0 0 #f8f8f8, 56px 36px 0 0 #181818, 8px 40px 0 0 #181818, 12px 40px 0 0 #c0c0c0, 16px 40px 0 0 #181818, 20px 40px 0 0 #c0c0c0, 24px 40px 0 0 #c0c0c0, 28px 40px 0 0 #c0c0c0, 32px 40px 0 0 #f8f8f8, 36px 40px 0 0 #f8f8f8, 40px 40px 0 0 #f8f8f8, 44px 40px 0 0 #f8f8f8, 48px 40px 0 0 #f8f8f8, 52px 40px 0 0 #181818, 4px 44px 0 0 #181818, 8px 44px 0 0 #c0c0c0, 12px 44px 0 0 #c0c0c0, 16px 44px 0 0 #181818, 20px 44px 0 0 #f8f8f8, 24px 44px 0 0 #f8f8f8, 28px 44px 0 0 #f8f8f8, 32px 44px 0 0 #f8f8f8, 36px 44px 0 0 #f8f8f8, 40px 44px 0 0 #f8f8f8, 44px 44px 0 0 #181818, 48px 44px 0 0 #f8f8f8, 52px 44px 0 0 #181818, 8px 48px 0 0 #181818, 12px 48px 0 0 #c0c0c0, 16px 48px 0 0 #181818, 20px 48px 0 0 #c0c0c0, 24px 48px 0 0 #c0c0c0, 28px 48px 0 0 #c0c0c0, 32px 48px 0 0 #f8f8f8, 36px 48px 0 0 #f8f8f8, 40px 48px 0 0 #181818, 44px 48px 0 0 #181818, 48px 48px 0 0 #f8f8f8, 52px 48px 0 0 #181818, 12px 52px 0 0 #181818, 16px 52px 0 0 #181818, 20px 52px 0 0 #181818, 24px 52px 0 0 #f8f8f8, 28px 52px 0 0 #f8f8f8, 32px 52px 0 0 #f8f8f8, 36px 52px 0 0 #f8f8f8, 40px 52px 0 0 #f8f8f8, 44px 52px 0 0 #f8f8f8, 48px 52px 0 0 #f8f8f8, 52px 52px 0 0 #181818, 24px 56px 0 0 #181818, 28px 56px 0 0 #181818, 32px 56px 0 0 #f8f8f8, 36px 56px 0 0 #f8f8f8, 40px 56px 0 0 #f8f8f8, 44px 56px 0 0 #181818, 48px 56px 0 0 #181818, 32px 60px 0 0 #181818, 36px 60px 0 0 #181818, 40px 60px 0 0 #181818;
}

/* Animations */

#ash:before, #ash:after, #pikachu:before, #pikachu:after {
    -webkit-animation: the-animation 0.4s infinite steps(2);
    -moz-animation: the-animation 0.4s infinite steps(2);
    -o-animation: the-animation 0.4s infinite steps(2);
    animation: the-animation 0.4s infinite steps(2);
}

#ash:after, #pikachu:after {
    -webkit-animation-direction: reverse;
    -moz-animation-direction: reverse;
    -o-animation-direction: reverse;
    animation-direction: reverse;
}

#pikachu:after, #pikachu:before {
    -webkit-animation-duration: 0.2s;
    -moz-animation-duration: 0.2s;
    -o-animation-duration: 0.2s;
    animation-duration: 0.2s;
}

@-webkit-keyframes the-animation {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: 120px;
    }
}

@-moz-keyframes the-animation {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: 120px;
    }
}

@-o-keyframes the-animation {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: 120px;
    }
}

@keyframes the-animation {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: 120px;
    }
}