/* Sign in page */

html {
    background-color: #66666E;
    color: #212529;
}

#indexHeader {
    margin-bottom: 5%;
    margin-left: -1px;
    margin-top: -1px;
}

#indexHeader h1 {
    padding-left: 3vh;
    padding-top: 1vw;
}

#headerButton {
    color: #212529;
}

#headerButton:hover {
    text-decoration: none;
}

.nes-container.with-title>.title {
    background-color: #66666E;
}

#welcomeContainer {
    margin-top: 8%;
    margin-bottom: 5%;
    font-size: 13px;
}

#signInForm {
    margin: auto;
    background-color: rgb(196, 16, 16);
    border-style: solid;
    border-width: 4px;
    border-color: rgb(226, 16, 16);
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    padding: 10px;
}

#nameField {
    width: 90%;
    margin: auto;
    font-size: 13px;
}

#trainerGenre {
    text-align: center;
    margin-top: 5%;
}

#signInButton {
    width: 90%;
    margin-left: 5%;
    font-size: 13px;
}

#typeImage {
    height: 20px;
    width: auto;
}

/* Pokedex page */

#pokedex {
    width: 65%;
}

a {
    color: #202618;
}

a:hover {
    text-decoration: none;
    color: #FFFFFF;
}

.sidebar li:hover {
    background-color: rgba(58, 60, 70, 0.8);
}

ul {
    list-style: none;
    display: inline;
}

.pokedexHeader {
    position: relative;
    border-bottom: 50px solid rgb(196, 16, 16);
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    width: 40vh;
    margin-bottom: 0;
    text-align: center;
}

.main {
    position: relative;
    background-color: rgb(196, 16, 16);
    height: 85vh;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(226, 16, 16);
    width: 70vh;
}

.sidebar {
    background-color: rgb(196, 16, 16);
    text-align: left;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 85vh;
    width: 40vh;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(226, 16, 16);
}

.innerSidebar {
    margin-left: 10%;
    background-color: #D5D8C5;
    padding: 10px;
    height: 95%;
    padding-top: 0px;
    border-radius: 10px;
    overflow: scroll;
    overflow-x: hidden;
    width: 90%;
    font-size: 65%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.innerTitle {
    background-color: #D5D8C5;
    border-radius: 10px;
    font-size: 65%;
    width: 95%;
    position: relative;
    left: 2.5%;
    transform: translateY(-50%);
    height: 25px;
    top: 5%;
    text-align: center;
}

.innerTitle p {
    padding-top: 1vh;
}

.innerDesc {
    background-color: #D5D8C5;
    border-radius: 10px;
    font-size: 65%;
    padding-left: 5px;
    padding-top: 10px;
    width: 45%;
    margin-left: 53%;
    top: 50%;
    transform: translateY(-50%);
}

.innerSprite {
    background-color: #D5D8C5;
    border-radius: 10px;
    height: 50%;
    width: 45%;
    margin-left: 2%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.innerSprite img {
    width: 20vh;
    display: block;
}

.types img {
    margin-left: 3px;
    margin-right: 3px;
    padding-bottom: 3px;
    width: 8vh;
}

.typesDiv {
    text-align: center;
}

#signIn {
    text-align: center;
    margin-top: 18vw;
}

#signIn a {
    line-height: 5vw;
    width: 100%;
}

#trainerPokedexButtons {
    text-align: center;
    margin-top: 15vw;
}

#trainerPokedexButtons a {
    width: 100%;
    font-size: 13px;
    padding-top: 20px;
}

#addPokemon {
    color: rgb(196, 16, 16);
    width: 100%;
    font-size: 13px;
}

#cancelButton, #OKButton {
    background-color: rgb(196, 16, 16);
}

#cancelButton::after, #OKButton::after {
    box-shadow: inset -4px -4px rgb(226, 16, 16);
}

#cancelButton:focus::after, #OKButton:focus::after, #cancelButton:hover::after, #OKButton:focus::after {
    box-shadow: inset -6px -6px rgb(226, 16, 16);
}

select {
    font-size: 12px;
}

.dialog-menu {
    text-align : center;
    margin-left: -50px;
}